		#header {
			background-color: red;
			width:100%;
			height:150px;
			overflow:visible
		}
		h3 {
			color:#edddd3;
			margin-left:20px;
			
		}
		#h21 {
			color:#c2d1e8;
			margin-right: 7px;
			position:relative;
			left: 10px;
			bottom: 11px;
		}
		#h22 {
			color:#c2d1e8;
			margin-right: 7px;
			position:relative;
			left: 220px;
			bottom: 57px;
		}
		#h23 {
			color:#c2d1e8;
			margin-right: 7px;
			position:relative;
			left: 370px;
			bottom: 103px;
		}
		#span1{
			font-weight: bold;
		}
		#span3{
			color: #66ce3d; 
		}
		#h3{
			color:#c2d1e8;
			margin-left:300px;
		}
		.SGMS{
			color: red;
		}
		a:link{
			color: red;
		}
		a:visited {
  			color: red;
		}
		#h23 a:visited, #h22 a:visited, #h21 a:visited {
			color:blue;
		}
		#CS-Class{
			color:blue;
		}
		#span4{
			color:green;
		}
		img{
			width:40px;
			heigt:40px;
		}
		ul{
			background-color:#dca1ed;
			width:47%;
			font-family: 'Noto Sans', sans-serif;
		}
		#lol{
			position: absolute;
    			left: 600px;
		}
		#lol1{
			position: absolute;
    			left: 1500px;
			bottom:500px;
		}
		#Take-two{
			width:40%;
			height:50%;
			position:absolute;
			top:400px;
			border-style: inset;
			border-color: red;
			border-width: 5px;
		}
		#banana{
			width:40%;
			height:30%;
			position:absolute;
			top:400px;
			left:800px;
			border-style: inset;
			border-color: red;
			border-width: 5px;
		}